body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d8cfbf;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

/*shapes in the backround that will be replaced with a custom backround*/
.shape {
  position: absolute; 
  border-radius: 45%;
  z-index: -1;
}

/*the blue shape*/
.shape.blue {
  background-color: #e3ebf2; 
  width: 700px;
  height: 600px;
  top: 0%;
  left: 90%;
  transform: translate(-50%, -50%); 
}

/*the green shape*/
.shape.green {
  background-color: #d4ddca; 
  width: 600px;
  height: 900px;
  top: 100%;
  left: 40%;
  transform: translate(-50%, -50%); 
}

.dashboard {
  display: flex; 
  width: 100%;
  height: 100%;
  position: relative; 
}

/* the whole sidebar that lets the user navigate between pages*/
.sidebar {
  font-family: 'Arial', sans-serif;
  background-color: #f1e8d8;
  font-weight: bold;
  width: 110px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between; 
  padding: 20px 0;
}

/* everything in the sidebar except for the "logout" button*/
.menu {
  display: flex; 
  flex-direction: column;
  gap: 20px;
}

/* each of the icons (except for the log out button) in the sidebar that the user can click to go to certain pages*/
.menu-item {
  text-decoration: none;
  color: #f1e8d8;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ad9878;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}
  
.menu-item:hover{
  background-color: #8f7e64;
}

/* the logout button at the bottom left of the sidebar*/
.logout {
  font-weight: bold;
  color: #f1e8d8;
  text-decoration: none;
  background-color: #ad9878;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}
  
.logout:hover {
  background-color: #948267;
}

/* the main part of the page that contains the creation form*/
.main {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

/* the box that encapsulates the creation form*/
.page {
  background-color: #fefbf6;
  border-radius: 10px;
  padding: 20px;
}

/* the "CREATION" header */
.header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #fffdfa;
  background-color: #ad9878;
  border-radius: 20px;
  padding: 10px;
}

/* the task creation form itself*/
.form {
  display: flex;
  gap: 20px; 
}

/* the left side of the task creation form*/
.left-panel {
  width: 60%; 
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

/* the right side of the task creation form*/
.right-panel {
  align-content: center;
  width: 50%; 
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

/* the stylization of labels on top of input boxez (task name, description, relative links)*/
.labels {
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #897250;
  align-self: center;
}

/* the stylization of placeholders in input areas*/
::placeholder{
  text-decoration: none;
  color: #897250;
}

/* stylization of all input areas*/
.input,
.input-date,
.enter-name {
  color: #897250;
  font-family: The 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-self: center;
  width:70%; 
  padding: 10px;
  background-color: #f1e8d8;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  margin-bottom: 5px;
  }

/* stlyzation of the 2 text areas*/
textarea {
  height: 130px; 
}
  
/* stylization of headings 'due date, task priority, dependencies*/
.date,
.priority,
.dependencies{
  font-family: The 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #897250;
  font-weight: bold;
  margin-bottom: 5px; 
  align-self:auto;
  font-size: 18px;
}
  
/* stylization of the icons that display priority (low, medium, high)*/
.priority-icon {
  display: inline-block;
  background-color: #ad9878;
  color: #f1e8d8;
  padding: 10px 15px;
  border-radius: 50%;
  margin: 0 5px;
}

/* backgrounds colour of the dependencies list*/
.back-dep{
  border-radius: 15px;
  background-color: #f1e8d8;
  padding: 10px 20px;
  height: 90px;
  align-items: center;
}

/* stylization of dependency list items*/
.deptask{
  text-align: center;
  align-self: center;
  border-radius: 20px;
  background-color: #fefbf6;
  margin-top: 5px;
  padding: 5px 5px;
}

/* stylization of the + button that will have the function of adding dependencies*/
.add-dep {
  margin-top: 15px;
  background-color: #ad9878;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 24px;
}

/* customization of the checkbox in the task priority list*/
.choice{
  border: none;
  accent-color:#e4dac9 ;
}

/* stylization of the input box for the due date*/
.input-date{
  height: 40px;
  border-radius: 20px;
  width: 95%;
}

.category label {
  display: block;
  margin-bottom: 5px;
}

/* stylization of the add button*/
.add-btn{
  text-decoration: none;
  background-color: #ad9878;
  color: #f1e8d8;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  align-self:flex-end;
  font-size: 20px;
  margin-top: 10px;
}

.add-btn:hover{
  background-color:#8f7d63 ;
}
  
