body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: The 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fefbf6; 
  height: 100vh;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.background {
  position: relative; 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*shapes in the backround that will be replaced with a custom backround*/
.shape {
  position: absolute;
  border-radius: 45%;
}

/*the green shape*/
.shape.green {
  background-color: #d4ddca; 
  width: 600px;
  height: 500px;
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%); 
}

/*the blue shape*/
.shape.blue {
  background-color: #e3ebf2; 
  width: 450px;
  height: 650px;
  top: 50%;
  left: 70%;
  transform: translate(-10%, -50%); 
}

/*the enter button that sends the user to the authorization page*/
.enter-button {
  position: relative;
  background-color: #fefbf6;
  border: none;
  padding: 35px 40px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.enter-button:hover {
  background-color: #eceae7;
}

/*the link that is in the enter button*/
.enterLink {
  text-decoration: none;
  color: #727272;
}